<?xml version="1.0"?>

<!-- Change Y-axis sign based on left/right side to allow mirror parts -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="left_right" params="side">
        <xacro:if value="${side == 'left'}">
            <xacro:property scope="parent" name="x_sign" value="1" />
        </xacro:if>
        <xacro:if value="${side == 'right'}">
            <xacro:property scope="parent" name="x_sign" value="-1" />
        </xacro:if> 
    </xacro:macro>
</robot>