<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="test_robot">
   <xacro:include filename="body.xacro"/>
   <xacro:include filename="wheel.xacro"/>
   <xacro:body/>
   <xacro:wheel name="wheel_l" side="left" parent="base_link"/>
   <xacro:wheel name="wheel_r" side="right" parent="base_link"/>

    <gazebo>
        <plugin name="test_robot_plugin" filename="libtest_robot_plugin.so"/>
    </gazebo>
</robot>