<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="test_robot">
	<xacro:include filename="body.xacro"/>
	<xacro:include filename="wheel.xacro"/>
	<xacro:body/>
	<xacro:wheel parent="base_link" side="left" name="wheel_l"/>
	<xacro:wheel parent="base_link" side="right" name="wheel_r"/>
</robot>