<?xml version="1.0"?>
<model>
  <name>Traffic Light</name>
  <version>1.0</version>
  <sdf version='1.4'>traffic_light.sdf</sdf>
  <author>
    <name>Markov Alexey</name>
    <email>markovalex95@gmail.com</email>
  </author>
  <description>
    Roboschool-2018 traffic light
  </description>
</model>