<?xml version="1.0"?>
<launch>
    <include file="$(find test_robot)/launch/gazebo.launch"/>
    <node name="keyboard" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" output="screen">
    	<param name="speed" value="1.0"/>
    	<param name="turn" value="1.0"/>
    </node>
    <node name="twist_to_motors" pkg="car_gazebo" type="twist_to_motors.py" output="screen">
    	<param name="max_pwm" value="70"/>
    </node>
</launch>