<?xml version="1.0"?>
<launch>
    <!-- Gazebo -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="paused" value="True"/>
        <arg name="use_sim_time" value="True"/>
    </include>

    <!-- Load xacro, convert to URDF and spawn-->
    <include file="$(find car_gazebo)/launch/spawn.launch"/>

</launch>