<?xml version="1.0"?>
<launch>
    <!-- Gazebo -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find car_gazebo)/worlds/track.world"/>
        <arg name="paused" value="True"/>
        <arg name="use_sim_time" value="True"/>
    </include>

    <!-- Load xacro, convert to URDF and spawn-->
    <include file="$(find car_gazebo)/launch/spawn.launch">
        <arg name="x" value="-1.89"/>
        <arg name="y" value="-2.2"/>
        <arg name="z" value="0.3"/>
    </include>

</launch>