<?xml version="1.0"?>
<!-- Show URDF in RViz -->
<launch>
	<param name="robot_description" textfile="$(arg filename)"/>
	<param name="use_gui" value="true"/>

	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>

	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find urdf_viz)/robot_model.rviz" required="true" />
</launch>